@tailwind base;
@tailwind components;
@tailwind utilities;

.myBtn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes growShrink {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

.notification {
  display: flex;
  align-items: center;

  border: 2px solid white;
  padding: 10px;
  border-radius: 10px;
  width: 0;
  overflow: hidden;
  animation: growShrink 5s;
}

.bell-icon {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  z-index: 10;
  margin-left: 10px;
}

.notification span {
  font-size: 14px;
  color: black;
}

.filter-primary {
  filter: invert(68%) sepia(25%) saturate(600%) hue-rotate(143deg)
    brightness(100%) contrast(100%);
}

/* For modern browsers */
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Hides the scrollbar for Webkit browsers (Chrome, Safari) */
}

.no-scrollbar {
  -ms-overflow-style: none; /* Hides the scrollbar for IE and Edge */
  scrollbar-width: none; /* Hides the scrollbar for Firefox */
}

@font-face {
  font-family: "larken";
  src: url("assets/fonts/larken.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gilroyB";
  src: url("assets/fonts/GilroyB.ttf") format("truetype");
}
@font-face {
  font-family: "gilroyM";
  src: url("assets/fonts/GilroyM.ttf") format("truetype");
}
@font-face {
  font-family: "gilroyS";
  src: url("assets/fonts/GilroyS.ttf") format("truetype");
}
@font-face {
  font-family: "dune";
  src: url("assets/fonts/Dune_Rise.ttf") format("truetype");
}
